.popup{
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 50px; 
    background: hotpink;
}
.test{
    background-color: black;
    border: 20px solid greenyellow;
    border-radius: 100px;
    margin: 20px;
    width: 300px;
    height: 300px;

}